{
  "presets": ["es2015"],
  "plugins": [
    "babel-plugin-add-module-exports",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "coverage": {
      "plugins": ["istanbul"]
    }
  }
}