{
  "extension": [
    ".js"
  ],
  "exclude": [
    "test",
    "test{,-*}.js",
    "**/*.test.js",
    "**/__tests__/**",
    "**/node_modules/**",
    "**/test/**"
  ],
  "reporter": [
    "lcov",
    "html",
    "text-summary"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": false,
  "report-dir": "./reports/coverage"
}